<div class="container emp-profile">
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-img">
                            <% if @profile.avatar.attached? %>
                                <%= image_tag @profile.avatar, width: "350px" , height: "350px" %>
                            <% end %>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-head">
                                    <h5>
                                        <%= @profile.name %>
                                    </h5>
                                    <h6>
                                        <%= @profile.nickname %>
                                    </h6>
                                    <h6>
                                        <%= @profile.email %>
                                    </h6>
                                    
                            <ul class="nav nav-tabs" id="myTab" role="tablist">
                                <li class="nav-item">
                                    <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab" aria-controls="home" aria-selected="true">Sobre</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <% if current_user.nickname.include? @profile.nickname %>
                        <div class="col-md-2">
                            <br>
                            <%= link_to "Editar perfil",edit_user_registration_path, class: "btn btn-primary" %>
                            <%= link_to "Sair", destroy_user_session_path, class: "btn btn-danger", method: :delete %>
                        </div>
                    <% end %>
                </div>
                <div class="row">
                    <div class="col-md-4">
                        <div class="profile-work">
                            <p>Sociais</p>
                                <a href="<%= @profile.facebook %>"><i class="fab fa-facebook-f"></i></a>
                                <a href="<%= @profile.instagram %>"><i class="fab fa-instagram"></i></a>
                             <a href="<%= @profile.twitter %>"><i class="fab fa-twitter"></i></a>
                        </div>
                    </div>
                    <div class="col-md-8">
                        <div class="tab-content profile-tab" id="myTabContent">
                            <div class="row">
                                <%= @profile.bio %>
                            </div>
                            <div class="row">
                                <hr>
                                <% @news_belong_to_user.each do |user_news| %>
                                <% if user_news.user.nickname.include? @profile.nickname %>
                                    <div class="post-preview">
                                        <%= link_to user_news do %>
                                            <h2 class="post-title" style="word-wrap: break-word;"><%= user_news.title %></h2>
                                        <% end %>
                                    <% end %>
                                <% end %>
                            </div>
                        </div>
                    </div>
                </div>          
        </div>