<div class="container emp-profile">
    <div class="row">
        <div class="col-md-4">
            <div class="profile-img"></div>
        </div>
        <div class="col-md-6">
            <div class="profile-head"> 
                <ul class="nav nav-tabs" id="myTab" role="tablist">
                    <li class="nav-item" style="text-align: center;">
                        <%= form_with model: @user, url: profile_edit_path(@user.nickname) , method: :patch do |form| %>
                        <div class="form-floating">
                            <% if current_user.avatar.attached? %>
                          <%= image_tag current_user.avatar, id: "output", width:"250", height:"250"%>
                          <% end %>
                          <br>
                          <%= form.file_field :avatar, class: "form-control", onchange:"loadFile(event)"%>
                        </div>
                        <br>
                        <div class="form-floating">
                            <%= form.text_area :bio, class: "form-control", style: "height: 150px", placeholder: "w" %>
                            <%= form.label :bio %>
                        </div>
                          <div class="form-floating">
                            <%= form.text_field :facebook, autofocus: true, class: "form-control", placeholder: "w"%>
                            <%= form.label :facebook %><br />
                          </div>

                          <div class="form-floating">
                            <%= form.text_field :instagram, autofocus: true, class: "form-control", placeholder: "w"%>
                            <%= form.label :instagram %><br />
                          </div>

                          <div class="form-floating">
                            <%= form.text_field :twitter, autofocus: true, class: "form-control", placeholder: "w" %>
                            <%= form.label :twitter %><br />
                          </div>

                          <div class="form-floating">
                            <%= form.url_field :theme, class: "form-control", placeholder: "w" %>
                            <%= form.label :fundo %>
                            <em>(Este campo aceita apenas links externos de imagens)</em>
                          </div>
                        <br>
                            <%= form.submit "Atualizar", class: "btn btn-primary", style: "margin-bottom: 26px;"%>
                    <% end %>
                        <%= link_to "Voltar", profile_index_path(@user.nickname), class: "btn btn-danger"%>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>
<script>
  var loadFile = function(event) {
    var output = document.getElementById('output');
    output.src = URL.createObjectURL(event.target.files[0]);
    output.onload = function() {
      URL.revokeObjectURL(output.src) // free memory
    }
  };
</script>